# Pre commit hooks

repos:

# Text fixes
-   repo: local
    hooks:
    -   id: end_of_line_fixer
        name: Check Python files end with blank line
        entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/end_of_line_fixer.py
        stages: [commit]
        language: system
        types: [python]
        exclude: _version.py

-   repo: local
    hooks:
    -   id: mixed_line_endings
        name: Fix end of line characters
        entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/mixed_line_endings.py
        stages: [commit]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: remove_whitespace
        name: Remove trailing whitespace
        entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/remove_whitespace.py
        stages: [commit]
        language: system
        types: [python]


# Security checks
-   repo: local
    hooks:
    -   id: check_added_large_files
        name: Check for large added files
        entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/check_added_large_files.py
        stages: [commit]
        language: system
        types: [python]
        args: ["--maxkb=500"]

-   repo: local
    hooks:
    -   id: check_filetypes
        name: Check for forbidden filetypes
        entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/check_filetypes.py
        stages: [commit]
        language: system
        args: ["--filetypes=csv,sas,xlsx,xls,json,xml,parquet,avro,feather"]

-   repo: local
    hooks:
    -   id: detect_private_key
        name: Detect private SSH keys
        entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/detect_private_key.py
        stages: [commit]
        language: system
        types: [text]
        exclude: detect_private_key.py


# Linting and consistency checks
-   repo: local
    hooks:
    -   id: flake8
        name: Run flake8
        entry: flake8
        stages: [commit]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: pydocstyle
        name: Run pydocstyle
        entry: pydocstyle
        stages: [commit]
        language: system
        types: [python]
        exclude: __init__.py

-   repo: local
    hooks:
    -   id: python_func_type
        name: Detect missing python typing
        entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/python_type_check.py
        stages: [commit]
        language: system
        types: [python]
        exclude: python_type_check.py

-   repo: local
    hooks:
    -   id: check_toml
        name: Check TOML files parsing
        entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/check_toml.py
        stages: [commit]
        language: system
        types: [toml]

-   repo: local
    hooks:
    -   id: name_tests_test
        name: Check unit tests are named test_*.py
        entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/name_tests_test.py
        stages: [commit]
        language: system
        types: [python]
        files: (^|/)tests/.+\.py$


# Commit messages and merge conflicts
-   repo: local
    hooks:
    -   id: check_merge_conflict
        name: Check for unresolved merge conflicts
        entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/check_merge_conflict.py
        stages: [commit]
        language: system
        types: [python]

-   repo: local
    hooks:
    -   id: commit_msg
        name: Check commit message lengthis max 50 characters
        entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/commit_msg.py
        stages: [commit-msg]
        language: system

# -  repo: local  # Commented out because this will auto-fail if there's no Jira board
#    hooks:
#    -   id: prepare_commit_msg
#        name: Prepare commit message
#        entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/prepare_commit_msg.py
#        stages: [prepare-commit-msg]
#        language: system


# Other hooks
# -   repo: local  # Template for adding new hooks
#     hooks:
#     -   id: id
#         name: Name to show during execution
#         entry: /home/cdsw/rap-project-example/dev_utils/pre-commit_helpers/helper_name.py
#         stages: [commit]
#         language: system
#         types: [python]
#         args: ["--arguments=separated,by,commas"]
