[user_settings]
local_or_shared = "shared" # "local" or "shared"
preprocessing = true # Set to true if you want to run preprocessing
adjustment = false # Set to true if you want to run manual adjustment

[local_settings]
input_gdhi_file_path = "D:/gdhi_adj_dummy.csv" #Run from D: drive here
output_file_path = "D:/" #Set output directory here to D:drive

[preprocessing_shared_settings]
#To run from SharePoint, you need to to go the Subnational Statistics - Regional Accounts
#sharepoint site, go into the subfolder 'GDHI' and open '2025_manual_adjustments'
#and click the 'sync' button to sync to your local OneDrive.
input_gdhi_file_path = "/Office for National Statistics/Subnational Statistics - 2025_Manual_Adjustments/Testing_Data/DAP_Exported/GDHI_Preproc_HMRC_PIR_Unconstrained.csv"
input_ra_lad_file_path = "/Office for National Statistics/Subnational Statistics - 2025_Manual_Adjustments/Testing_Data/Reg_Accounts/uk_gdhi_by_component_2022.csv"
transaction_name = "Compensation of employees"
output_dir = "/Office for National Statistics/Subnational Statistics - 2025_Manual_Adjustments/Testing_Data/Output/"
output_filename = "gdhi_manual_adj_preprocessed_output.csv" #Change name of file here
output_schema_path = "config/output_preprocess_schema.toml"

[adjustment_shared_settings]
#To run from SharePoint, you need to to go the Subnational Statistics - Regional Accounts
#sharepoint site, go into the subfolder 'GDHI' and open '2025_manual_adjustments'
#and click the 'sync' button to sync to your local OneDrive.
input_adj_file_path = "/Office for National Statistics/Subnational Statistics - 2025_Manual_Adjustments/Worked_Example/Manual_Adjustment_Adjustment_test_data.csv"
input_constrained_file_path = "/Office for National Statistics/Subnational Statistics - 2025_Manual_Adjustments/Worked_Example/Manual_Adjustment_Adjustment_con_dap_data.csv"
input_unconstrained_file_path = "/Office for National Statistics/Subnational Statistics - 2025_Manual_Adjustments/Worked_Example/Manual_Adjustment_Adjustment_uncon_dap_data.csv"
output_dir = "/Office for National Statistics/Subnational Statistics - 2025_Manual_Adjustments/Worked_Example/"
output_filename = "gdhi_manual_adj_adjusted_output.csv" #Change name of file here
output_schema_path = "config/output_adjustment_schema.toml"

[pipeline_settings]
output_data = true
input_gdhi_schema_path = "config/input_gdhi_schema.toml"
input_ra_lad_schema_path = "config/input_ra_lad_schema.toml"
input_adj_schema_path = "config/input_adj_schema.toml"
input_constrained_schema_path = "config/input_constrained_schema.toml"
input_unconstrained_schema_path = "config/input_unconstrained_schema.toml"

# Application metadata
app_name = "simple_pipeline"
app_description = "A simple pipeline for processing data."
