[user_settings]
local_or_shared = "local"  # or "shared"

[local_settings]
input_dir = "dummy_data/dummydata.xlsx"
output_dir = "dummy_data/output/agg_data.csv"

[shared_settings]
input_dir = "shared/input/"
output_dir = "shared/output/"

[pipeline_settings]
output_data = true
output_filename = "final_output.csv"
schema_path = "config/schema_config.toml"

# Application metadata
app_name = "simple_pipeline"
app_description = "A simple pipeline for processing data."
